<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".SecureVaultApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureVault"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.RegisterActivity" android:exported="false"/>
        <activity android:name=".ui.view.HomeActivity" android:exported="false"/>
        <activity android:name=".ui.view.BiometricActivity" android:exported="false"/>
        <activity android:name=".ui.view.LoginActivity" android:exported="false"/>
        <activity android:name=".ui.view.SettingsActivity" android:exported="false"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service
            android:name=".data.autofill.SecureVaultAutofillService"
            android:exported="true"
            android:label="Secure Vault"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService"/>
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration"/>
        </service>
    </application>

</manifest>

